[Unit]
Description=Prevent system sleep while allowing idle screen-off

[Service]
ExecStart=/usr/bin/systemd-inhibit --what=sleep --who=Noctalia --why="Keep awake while allowing screen-off" --mode=block /usr/bin/sleep infinity
