[user]
	email = ahdai19970918@gmail.com
	name = ahdai

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[http "https://github.com"]
	proxy = socks5://192.168.1.41:10808
