[accessibility]
ui_scale = {{ if eq .chezmoi.hostname .devices.companyHostname }}1.0{{ else }}1.25{{ end }}

[backdrop]
tint_intensity = 0.29999999329447746

[bar.default]
background_opacity = 0.72
center = [ "clock", "notifications" ]
end = [
    "media",
    "tray",
    "clipboard",
    "network",
    "bluetooth",
    "recorder",
    "volume",
    "brightness",
{{- if ne .chezmoi.hostname .devices.companyHostname }}
    "battery",
{{- end }}
    "control-center",
    "session",
]
margin_ends = 0

[brightness]
enable_ddcutil = true

[brightness.monitor.HDMI-A-1]
backend = "ddcutil"

{{- if eq .chezmoi.hostname .devices.companyHostname }}

[brightness.monitor.DP-2]
backend = "ddcutil"
{{- end }}

[control_center]

[[control_center.shortcuts]]
type = "wifi"

[[control_center.shortcuts]]
type = "ahdai/sleep-inhibit:toggle"

[[control_center.shortcuts]]
type = "nightlight"

[[control_center.shortcuts]]
type = "power_profile"

[desktop_widgets]
enabled = false

[idle]
behavior_order = [ "lock", "screen-off", "suspend" ]
pre_action_fade_seconds = 2.0

[idle.behavior.lock]
action = "lock"
enabled = true
timeout = 300

[idle.behavior.screen-off]
action = "screen_off"
enabled = true
timeout = 360

[idle.behavior.suspend]
action = "lock_and_suspend"
enabled = {{ if eq .chezmoi.hostname .devices.companyHostname }}false{{ else }}true{{ end }}
timeout = 1800

[location]
auto_locate = false
address = "Hangzhou, Zhejiang, China"

[notification]
background_opacity = 0.84

[osd]
background_opacity = 0.84

[lockscreen_widgets]
enabled = false

[plugins]
auto_update = "none"
enabled = [ "ahdai/sleep-inhibit", "noctalia/screen_recorder", "fel/ocr" ]

[[plugins.source]]
name = "official"
kind = "git"
location = "https://github.com/noctalia-dev/official-plugins"
enabled = true

[[plugins.source]]
name = "community"
kind = "git"
location = "https://github.com/noctalia-dev/community-plugins"
enabled = true

[plugin_settings."fel/ocr"]
languages = "chi_sim+eng"
psm = "6"
copy_to_clipboard = true
show_notification = true

[shell]
clipboard_image_action_command = "~/.local/bin/ocr-image {path}"
polkit_agent = true
setup_wizard_enabled = false

[shell.panel]
transparency_mode = "glass"

[shell.screenshot]
copy_to_clipboard = true
directory = "~/Pictures/Screenshots"
filename_pattern = "Screenshot from %Y-%m-%d %H-%M-%S"
freeze_screen = true
save_to_file = true

[theme]
builtin = "Gruvbox"
community_palette = "Gruvbox Material"
mode = "dark"
source = "builtin"
wallpaper_scheme = "m3-content"

[theme.templates]
builtin_ids = [ "ghostty", "gtk3", "gtk4", "niri", "qt", "scroll", "starship" ]
community_ids = [ "fcitx5", "yazi" ]

[wallpaper.default]
path = "/usr/share/noctalia/assets/noctalia-wallpaper.png"

[widget.recorder]
type = "noctalia/screen_recorder:recorder"
