@define-color bg #282828;
@define-color fg #ebdbb2;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color orange #d65d0e;
@define-color gray #a89984;

* {
    border: none;
    border-radius: 0;
    font-family: 'FiraCodeNerdFontMono';
    font-size: 14px;
}

window#waybar {
    background: @bg;
    color: @fg;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @bg;
}

#workspaces button.active {
    color: @bg;
    background-color: @orange;
}
